html
{
    background-color: #000056;
}

.header {
    background-color: #333378;
    border: 2px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 150px;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    }
    
.headerimage {
    height: 150px;
    width:25%;
    display: inline;
    float: left;
    }
    
.image {
    height: 150px;
    }

.headertext {
    height:150px;
    width: 75%;
    display: inline;
    }

.text {
    color: white;
    font-size: 200%;
    padding: 50px;
    margin-left: 25%;
    }

.middle {
    background-color: #bababa;
    border: 1px solid;
    height: 350px;
    margin-left: 10%;
    margin-right: 10%;
    }
    
.footer {
    background-color: #A32900;
    border: 1px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 75px;
    margin-left: 10%;
    margin-right: 10%;
    
}